*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parallax--container{
    z-index: -1;
    width: 100%;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;

}
.background{
    width: 100%;
    height: 100%;
    background-image: url(./assets/challenge-images/background.png);
    z-index: 1;
}
.background div{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    background-position: 0px 0px;
    bottom: 0;
    position: absolute;
}
.trees--and--bushes{
    z-index: 50;
    background-image: url(./assets/challenge-images/trees-and-bushes.png);
    animation: animateTreesAndBushes 10s linear infinite;
}
@keyframes animateTreesAndBushes{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: -100% 0px;
    }

}
.trees--distant{
    z-index: 40;
    background-image: url(./assets/challenge-images/trees-distant.png);
    animation: animateDistantTrees 30s linear infinite;
}
@keyframes animateDistantTrees{
    from{background-position: 0px 0px;}
    to{background-position: 100% 0px;}
}
.hill--one{
    z-index: 20;
    background-image: url(./assets/challenge-images/hill-v1.png);
    animation: animateHillOne 60s linear infinite;
}
@keyframes animateHillOne {
    from{background-position: 0px 0px;}
    to{background-position: -100% 0px;}
}
